extends layout

block content
  a(href="/create") Create a new NFT
  .nft-grid
    each nft in nfts
      .nft-card
        a(href=`/nft/${nft._id}`)
          img.nft-image(src=nft.imageURL)
          .nft-info
            h2.nft-title= nft.title
            